body{
    margin: auto;
    background-color: ivory;
    font-family: 'Montserrat', sans-serif;
    font-size: 16;
}
a{
    color:rgba(46, 4, 195, 0.865);
}

.Presentation{
    display: flex;
    flex-direction: row;
    margin:auto;
    background-color:rgb(7, 203, 203) ;
    font-size: 20px;
}
.Presentation img{
   max-width: 20.5%;
}

.Aboutme{
    color: ivory;
    font-size: 20px;
    padding: 15px;    
}

.Aboutme h1{
    font-size: 2em;
}

.box2{
    display: flex;
    flex-direction: row;
    column-gap: 60px;
}
.general-column{
display: flex;
flex-direction: column;
/* justify-content: space-between; */
width: 263px;
padding: 15px;
background-color:rgb(7, 203, 203);
}

.experience-column{
text-align: justify;
}

h4{
    line-height: 1.3;
}
.p1{
    font-size: 0.8em;
    color: rgba(46, 4, 195, 0.865);
    line-height: 0.9em;

}
 .p2{
  margin-bottom: -12px;
}

.p3{
  margin-bottom: 10px;
}

.h4{
  margin-bottom: -14px;
}

